.About{
    width: 570px;
    height: 100%;
    padding: 15px;
    @media (max-width: 620px) {
        width: auto;
        padding: 5px;
      }
    &__heading{
        font-size: 20px;
        @media (max-width: 620px) {
            text-align: center;
           }
        &__title{
        }
        &__name{
            color: rgb(255, 162, 0);
        }
    }
    &__description{
        letter-spacing: 0.25px;
        @media (max-width: 620px) {
           text-align: center;
          }
    }
    &__img{
        width: 570px;
        @media (max-width: 620px) {
            width: 100%;
            margin: auto;
          }
    }
}