.Outline {
  width: 95%;
  padding: 15px;
  border-bottom: 1px solid rgb(226, 226, 226);
  @media (max-width: 620px) {
    width: auto;
    padding: 0px;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    &__image {
      img {
        width: 52px;
        height: 52px;
      }
    }
    &__inner {
      padding-top: 3px;
      margin: 5px;
      @media (max-width: 600px) {
        .user_info {
          max-width: 300px;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      @media (max-width: 400px) {
        .user_info {
          max-width: 150px;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &__name {
        font-size: 16px;
        font-weight: 700;
      }
      &__userName,
      &__timeStamp {
        font-size: 15px;
        font-weight: 400;
        color: rgb(84, 86, 100);
        font-style: italic;
        margin-left: 7px;
      }
    }

    &__tag {
      padding: 10px 0 10px 0;
      width: 100px;
      border-radius: 1rem;
      color: #fff;
      text-align: center;
      font-style: italic;
    }
    &__header {
      color: rgb(105, 105, 105);
    }
    &__item {
      margin: 5px 0 5px 0;
      letter-spacing: 0.25px;
      @media (max-width: 620px) {
        word-break: break-all;
      }
    }
    &__project_image {
      width: 500px;
      @media (max-width: 620px) {
        width: 280px;
        padding: 0px;
      }
      @media (max-width: 400px) {
        width: 250px;
        padding: 0px;
      }
    }
    .displayItems {
      padding-top: 2px;
      display: flex;
      flex-direction: column;

      &__item {
        font-size: 16px;
        letter-spacing: 0.2px;
        font-weight: 400;
        color: rgb(0, 0, 0);
        line-height: 20.8px;
      }
      &__icons {
        padding: 5px;
        display: flex;
        align-items: center;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          svg {
            fill: #000;
          }
          svg:hover {
            fill: #5fd715;
          }
          &:visited {
            color: rgb(0, 0, 0);
          }
        }
        &__text {
          color: rgb(105, 105, 105);
          padding: 5px;
          font-size: 14px;
          &.github:hover,
          &.deployed:hover {
            color: #5fd715;
          }
        }
      }
    }
  }
}
